body {
    color: #000;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}

.headline {
    
    .name {
      font-size: 1.2em;
      
    }
    .gender {
        font-size: 0.8em;
    }
  }
}

.posts {
  .post {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .name {
      font-size: 1.2em;
      font-weight: bold;
    }
    .gender {
      font-size: 0.8em;
    }
    .hobby {
      font-size: 0.8em;
    }
    .introduction {
      font-size: 0.8em;
    }
  }
}  